html {
  font-size: 62.25%;
}

body {
  background-color: rgb(252, 248, 229);
  font-size: 1.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0%;
  margin: 0%;
}

ul {
  list-style-type: none;
  position: relative;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul {
  display: inherit;
}

nav {
  /* Magic number works, but looks messy on site  */
  height: 140px;
}

nav ul ul {
  display: none;
}

nav ul li:hover ul {
  display: inherit;
}

/* Desktop  View */

@media (min-width: 640px) {
  nav ul li {
    display: inline;
    list-style: none;
    list-style-type: none;
  }
  nav {
    height: auto;
  }
}

/* Mobile View */
@media (max-width: 844px) {
  .social.menu {
    display: none;
  }
}

.menu.container {
  border: solid;
  border-color: pink;
  font-size: 1.8rem;
}

.top.container {
  border: solid;
  border-color: red;
  justify-content: center;
}

.portrait {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: black;
}

.right.text {
  border: solid;
  border-color: pink;
}
.bottom.container {
  display: flex;
  justify-content: space-around;
  border: solid;
  flex-wrap: wrap;
}

.social.menu {
  position: fixed;
  top: 40%;
  right: 25px;
  transform: translate(-50%);
  background-color: rgb(252, 248, 229);
  background: 50%;
}

.jobs {
  border: solid;
  border-color: red;
}

.lavoie {
  border: solid;
  border-color: yellowgreen;
}

.furo {
  border: solid;
  border-color: yellowgreen;
}

.canyon {
  border: solid;
  border-color: yellowgreen;
}

.ancient {
  border: solid;
  border-color: yellowgreen;
}

.right.side {
  border: solid;
  border-color: blueviolet;
  position: static;
  margin-right: 0;
}

.linkedin:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.linkedin {
  transition: all 0.1s ease-in-out;
}

.twitter:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.twitter {
  transition: all 0.1s ease-in-out;
}

.github:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.github {
  transition: all 0.1s ease-in-out;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */
